{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}


{% block title %} 
    - Profile
{% endblock title %}


{% block content %}


<div class="row">
    <h2 class="my-5 text-center"> Welcome to Epic Rides  </h2>
    
    {% if pageTitle == 'update' %}  
        <form class="col-6 m-auto border border-primary p-5 rounded" method="post">
            <label class="form-label">Username</label>
            <input class="form-control" value=" {{ request.user }} " disabled >
            <br>
            {{ form | crispy }}
            {% csrf_token %}
            <button class="btn btn-success" type="Submit">Update</button>
        </form>
    {% endif %}

 
    {% comment %} {% if car is not Null %} {% endcomment %}
    
        {% for order in user_ordered %}
            <div class="card p-0 m-3" style="width: 25rem;">
                <img src="{{ order.car.car_img.url }}" class="card-img-top h-75" alt="...">
                <div class="card-body">
                <h5 class="card-title"> {{ order.car.car_name }} </h5>
                <h6 class="card-title"> {{ order.car.brand }} </h6>
                <p class="card-text"> 
                    Price: Ordered at <strong>${{ order.car.price }}</strong>  
                </p>
                <a href=" {% url 'carDetails' order.car.id %} " class="btn btn-primary">View Details</a>
                </div>
            </div>   
        
        {% endfor %}
    {% comment %} {% endif %} {% endcomment %}
</div> 

{% endblock content %}